.row.proximos-viajes
    each viaje in viajes
        .col-md-6.col-lg-4.mb-4(data-fecha=`${viaje.fecha_ida} - ${viaje.fecha_vuelta}`)
            .card.shadow-sm
                img.card-img-top(src=`/img/destinos_${viaje.imagen}.jpg`, alt=`Imagen de ${viaje.titulo}`)
                .card-body
                    h2.card-title.h5= viaje.titulo
                    p.mb-2
                        i.fas.fa-calendar-alt.text-primary.me-2
                        | #{viaje.fecha_ida} - #{viaje.fecha_vuelta}
                    p.mb-2
                        i.fas.fa-dollar-sign.text-primary.me-2
                        | #{viaje.precio} euros
                    p.card-text= viaje.descripcion.substr(0, 100) + '...'
                    a.btn.btn-primary.w-100(href=`/viaje/${viaje.slug}`)
                        i.fas.fa-info-circle.me-2
                        | Más Información




